alembic==1.4.3
aniso8601==8.1.0
appdirs==1.4.4
bcrypt==3.2.0
cffi==1.14.4
cfgv==3.2.0
-e git+git@github.com:krsnik93/chatterbox.git@2dadcdbd1a3e99620ed6c4950b388fd26d22c7b5#egg=chatterbox&subdirectory=server
click==7.1.2
distlib==0.3.1
dnspython==1.16.0
eventlet==0.29.1
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.9
Flask-JWT-Extended==3.25.0
flask-marshmallow==0.14.0
Flask-Migrate==2.5.3
Flask-RESTful==0.3.8
Flask-SocketIO==4.3.2
Flask-SQLAlchemy==2.4.4
greenlet==0.4.17
identify==1.5.10
itsdangerous==1.1.0
Jinja2==2.11.2
Mako==1.1.3
MarkupSafe==1.1.1
marshmallow==3.9.1
marshmallow-sqlalchemy==0.24.1
nodeenv==1.5.0
pre-commit==2.9.2
psycopg2==2.8.6
pycparser==2.20
PyJWT==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==3.14.2
python-socketio==4.6.1
pytz==2020.4
PyYAML==5.3.1
six==1.15.0
SQLAlchemy==1.3.20
SQLAlchemy-Utils==0.36.8
toml==0.10.2
virtualenv==20.2.1
webargs==6.1.1
Werkzeug==1.0.1
