.container {
  margin-bottom: 20px;
}
.container .row {
  padding-bottom: 5px;
}
.container .inputRow {
  height: 65px;
}
.buttonColumn {
  display: flex;
}
.button {
  flex: 1;
}
.headingColumn {
  text-align: center;
}
