.nav {
  display: flex;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: calc(100vh - 56px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.navItem {
  width: 100%;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navItem:first-child {
  border-top: 0px;
}
.navLink {
  font-size: 18px;
  color: #2f3640 !important;
  border-radius: 0 !important;
  flex: 1;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.navLink:hover {
  background-color: #e8e8e8;
  color: #2f3640 !important;
}
.navLink:global(.active) {
  background-color: #ffe67c !important;
  color: #2f3640 !important;
  border: 1px solid #6e6e6dff !important;
}
.badge {
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
  padding: 5px !important;
  width: 4ch;
}
.spinnerContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
